@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  /* colors */
  --color-brand-red: #ff4141;
  --color-brand-white: #ffffff;
  --color-brand-gray: #9b9b9b;
  --color-brand-black: #000000;

  /* font family */
  --font-roboto: var(--font-roboto);
  --font-condensed: var(--font-condensed);

  /* font sizes */
  --text-fs-900: 9rem;
  --text-fs-800: 6.25rem;
  --text-fs-700: 3.5rem;
  --text-fs-600: 2rem;
  --text-fs-500: 1.75rem;
  --text-fs-400: 1rem;
  --text-fs-300: 0.875rem;

  /* screens */
  --breakpoint-md: 35em;
  --breakpoint-lg: 45em;
}

@custom-variant hover (&:hover);

@layer base {
  body {
    @apply font-normal text-fs-400 bg-brand-white text-brand-black tracking-normal leading-normal overflow-x-hidden min-h-screen;
  }
}

@utility hero-bg {
  background-image: url('/hero-bg.jpg');
  @apply bg-no-repeat bg-cover bg-center;
}
